._pageRoot_zfx4m_1 {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}
._pageRoot_zfx4m_1 ._trailingImageBox_zfx4m_9 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
._pageRoot_zfx4m_1 ._fixedBox_zfx4m_18,
._pageRoot_zfx4m_1 ._fixedVideoBox_zfx4m_19 {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
._pageRoot_zfx4m_1 ._fixedBox_zfx4m_18 ._mask_zfx4m_28,
._pageRoot_zfx4m_1 ._fixedVideoBox_zfx4m_19 ._mask_zfx4m_28 {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.1s ease;
}
._pageRoot_zfx4m_1 ._normalVideoBox_zfx4m_38 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}._videoRoot_1qn98_1 {
  position: relative;
}
._videoRoot_1qn98_1 video {
  width: 100%;
  height: 100%;
}
._videoRoot_1qn98_1 img {
  width: 100%;
  height: 100%;
}